.search {
    transition: 0.6s ease-in-out;
}

.search input {
    outline: none;
    padding: 8px 16px 6px;
    border-radius: 16px;
    border: 2px solid rgb(215, 189, 189);
}
.search input:focus {
    border: 2px solid var(--main-bg-color-hover);
}

header {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    display: flex; 
    align-items: center;

    min-height: 80px;
}
.wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.list {
    display: flex;
    align-items: center;
    gap: 24px;
    
}
.list .relativeContainer {
    display: flex;
    align-items: center;
    gap: 24px;
    transition: 0.6s ease-in-out;
}
.list  li > a {
    color: #333333;
}
.list  li,
.list > button {
    font-size: 14px;
    font-weight: 500;
}
.button {
    position: relative;
    z-index: 10;
    padding: 12px 36px;
    border-radius: 8px;
    border: 2px solid transparent;
    font-weight: 500;
    color: #fff;
    background-color: var(--main-bg-color);
    transition: 100ms ease-in;
}
.button:hover {
    background-color: var(--main-bg-color-hover);
    
 }
.button:active {
    
    color: var(--main-bg-color);
    background-color: #fff;
    border: 2px solid var(--main-bg-color);
    transform: scale(0.97);
}

.image {
    width: 18px; 
    cursor: pointer;
}

@media only screen and (max-width: 618px) {
    .list {
        display: flex;
        align-items: center;
        gap: 14px;
        
    }
}