.wrapper {
    position: fixed;
   

    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: #7C4EE4;
    top: 0;
    right: 0;

    transition: 0.9s;
    transition-timing-function: ease-out;
    z-index: 1002;
}  

.wrapper > h3 {
    margin: 10% 0 0 0;
    color: #fff;
    text-align: center;
    font-size: 52px;
    letter-spacing: 2.2px;
}

.exit {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1001;
    cursor: pointer;
}

.exit i {
    font-size: 32px;
    color: #fff; 
}

.search {
    width: 80%;
    margin: 44px auto 24px;
    transition: 0.6s ease-in-out;
}
.search input {
    display: block;
    margin: 0 auto;
    padding: 12px 36px 8px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    outline: none;
    border-radius: 16px;
    border: 2px solid rgb(215, 189, 189);
    color: #33147a;
}

.search input:focus {
    border: 2px solid var(--main-bg-color-hover);
}

.list {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.list {
    position: relative;
    overflow-y: scroll;


    margin: 0 auto 34px;
    border: 3px #fff solid;
    border-radius: 24px;
    width: 80%;
    min-height: 74px;
    max-height: 452px;
 
      
}

.list > ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 14px 24px;
}

.list li a {
   display: flex;
   
}

.list li{
    padding: 12px;
}

.list li:hover {
    background: linear-gradient(90deg, rgba(166,54,202,0.9108893557422969) 5%, rgba(69,64,235,0.8100490196078431) 94%);
    border-radius: 16px;
    cursor: pointer;
}

.list img {
    border-radius: 6px;
}

.list p {
    display: inline-block;
    margin: auto auto auto 12px;
    width: 100%;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

@media only screen and (max-width: 450px) {
    .search {
        width: 90%;
    }
   .list {
    width: 90%;
   }
   .list > ul {
    padding: 14px 14px;
}}
@media only screen and (max-width: 320px) {
    .search {
        width: 95%;
    }
   .list {
        width: 95%;
   }
   .list > ul {
    padding: 14px 6px;
   }
}